/* Lato Bold */
@font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-bold/lato-bold.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('lato-bold'),
        url('../fonts/lato-bold/lato-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/lato-bold/lato-bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/lato-bold/lato-bold.woff') format('woff'), /* Modern Browsers */
        url('../fonts/lato-bold/lato-bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/lato-bold/lato-bold.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* Lato Light */
@font-face {
    font-family: 'Lato Light';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/lato-light/lato-light.eot'); /* IE9 Compat Modes */
    src: local('Lato Light'), local('lato-light'),
        url('../fonts/lato-light/lato-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/lato-light/lato-light.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/lato-light/lato-light.woff') format('woff'), /* Modern Browsers */
        url('../fonts/lato-light/lato-light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/lato-light/lato-light.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* geomanist-regular */
@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-regular/lato-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('lato-regular'),
        url('../fonts/lato-regular/lato-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/lato-regular/lato-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/lato-regular/lato-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/lato-regular/lato-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/lato-regular/lato-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}