* {
    outline: none;
}

html {
}

body {
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

p {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    color: #363636;
    font-size: 14px;
    line-height: 16px;
	margin-bottom:15px;
}

strong {
    font-family: 'Open Sans';
    font-weight: 600;
    color: #001120;
    font-size: 14px;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #2A6FB7;
	text-decoration:none;
}

    a:active,
    a:hover,
    a:visited,
    a:focus {
        outline: 0;
        text-decoration: none;
    }

H1,
H2,
H3,
H4,
H5 {
    margin: 0;
}

H2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lato Light';
	margin-bottom:25px;
}

H3 {
    font-size: 26px;
    font-family: 'Lato Light';
	margin-bottom:15px;
    color: #4e2683;
}
h4 {
    font-family: 'Lato Bold';
    font-size: 16px;
    color: #a3238e;
    text-transform: uppercase;
    line-height: 20px;
}
h5 {
    font-family: 'Lato Bold';
    font-size: 14px;
    color: #4e2683;
    text-transform: uppercase;
}
/* Cookie */
.cookie-container {
    background-color: #4f2683;
    padding: 25px 0;
}
.cookie-content a {
    color: #009cd6;
    text-decoration: underline;
}
.cookie-content .cookie-buttons a {
    text-decoration: initial;
}
.cookie-content .cookie-buttons a:first-child {
    margin-right: 10px;
}
.cookie-content .cookie-buttons {
    float: right;
}
.cookie-content span {
    float: left;
    width: 100%;
    font-family: 'Lato Bold';
    font-size: 22px;
    line-height: 34px;
    color: #fff;
}
.cookie-content p {
    width: 80%;
    float: left;
    color: #fff;
    margin-bottom: 0;
}
/* End of Cookie */
/* Buttons */
.general-buttons {
    padding: 25px 0 25px 0;
    border-bottom: 1px solid #c7c7c7;
}
.general-buttons .general-title {
    font-size: 26px;
    font-family: 'Lato Bold';
    color: #1385c7;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.btn {
    font-family: 'Lato Regular';
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    height: 30px;
    padding: 15px 12px;
    line-height: 2px;
}
.btn.read-btn {
    background-color: #00a0df;
    color: #fff;
}
.btn.read-btn:hover {
    background-color: #0085b6;
    color: #fff;
}
/* End of Buttons */
/* Checbox */
input[type="checkbox"] {
    width: 0;
    height: 0;
    position: absolute;
    visibility: hidden;
}
input[type="checkbox"] ~ label {
    position: relative;
}
input[type="checkbox"] ~ label:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #cdcdce;
    border-radius: 3px;
    -webkit-box-shadow:  0px -1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.3);
}
input[type="checkbox"] ~ label:after {
    position: absolute;
    top: 0;
    right: 0;
    color: #868686;
    content: "\f00c";
    display: block;
    width: 20px;
    height: 20px;
    opacity: 0;
    visibility: hidden;
    font-family: 'FontAwesome';
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity 250ms linear;
    -moz-transition: opacity 250ms linear;
    -o-transition: opacity 250ms linear;
    -ms-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}
input[type="checkbox"]:checked ~ label:after {
    opacity: 1;
    visibility: visible;
}
.check-field {
    float: left;
    width: 100%;
}
.form-group .check-field label {
    font-family: 'Lato Regular';
    font-size: 12px;
    text-transform: uppercase;
    width: 50%;
}
.form-group .check-field:nth-child(even) input[type="checkbox"] ~ label:before {
    background-color: #e8e8e8;
}
/* End of Checkbox */

/* Accordion */
.content-page-container #accordion {
    width: 750px;
}
#accordion {
    float: left;
    width: 100%;
}
#accordion .panel {
    margin: 0;
    box-shadow: none;
    border: none;
    border: 1px solid #dededf;
    border-radius: 0;
    margin-bottom: 15px;
}
#accordion .panel .panel-heading {
    border-radius: 0;
    background-color: #ffffff;
    border-color: #ffffff;
    margin: 0;
    padding: 0;
}
#accordion .panel .panel-heading .panel-title {
    position: relative;
    display: inline-block;
    width: 100%;
    color: #512178;
    font-family: 'Lato Bold';
    font-size: 15px;
    line-height: 26px;
    padding: 20px 45px;
    text-decoration: none;
}
#accordion .panel .panel-heading .panel-title:hover {
    text-decoration: underline;
}
#accordion .panel .panel-heading .panel-title span {
    position: absolute;
    top: 45%;
    right: 0;
    transform: translate(-45%, 0);
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../images/accordion-arrow-up.png') no-repeat;
}
#accordion .panel .panel-heading .panel-title.collapsed span {
    background: url('../images/accordion-arrow-down.png') no-repeat;
}
.panel-body ol {
    float: left;
    width: 100%;
}
.panel-body ol li {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0 0 10px 0;
    width: 100%;
    line-height: 12px;
    font-size: 16px;
    color: #931c80;
    font-family: 'Lato Regular';
    float: left;
    border-bottom: 1px solid #dcdcdd;
    margin-bottom: 15px;
}
.panel-body ol li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.panel-body ol li span {
    color: #363636;
    font-family: 'Lato Regular';
    font-size: 13px;
    line-height: 16px;
    width: 95%;
    float: right;
    padding-right: 30px;
}
/* End of Accordion */
/* Pagination */
.pagination-container {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}
.pagination {
    margin: 0;
}
.pagination>li>a>i {
    color: #00a0df;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
.pagination>li>a>i.inactive {
    color: #d5d5d5;
}
.pagination>li>a>i:hover.inactive {
    color: #d5d5d5;
}
.pagination>li>a>i:hover {
    color: #0085b6;
}
.pagination>li>a {
    color: #00a0df;
    height: 34px;
    font-family: 'Lato Regular';
    font-size: 13px;
}
.pagination>.active>a {
    background-color: #e9e6f2;
    border: 1px solid #ddd;
}
.pagination>.active>a {
    color: #0085b6;
    font-family: 'Lato Bold';
}
.pagination>li>a:focus, .pagination>li>a:hover {
    background-color: transparent;
}
.pagination>.active>a:hover, .pagination>.active>a:focus {
    background-color: #e9e6f2;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>.active>a:hover, .pagination>.active>a:focus {
    text-decoration: underline;
    color: #0085b6;
    cursor: pointer;
    border: 1px solid #ddd;
}
/* End of Pagination */