/* Login */
.login-section {
    background-color: rgba(0, 0, 0, 0.3);
}
.login {
    width: 420px;
    margin: 100px auto;
    background-color: #f0f0f0;
    border: 1px solid transparent;
}
.login .login-image {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}
.login .login-content {
    position: relative;
    padding: 15px;
}
.login .login-content span {
    color: #009cd6;
    font-family: 'Lato Light';
    font-size: 26px;
    line-height: 32px;
    padding: 15px 0;
}
.login .login-title {
    text-align: center;
    float: left;
    width: 100%;
}
.login .read-btn {
    width: 100%;
    margin-top: 20px;
}
.login fieldset {
    float: left;
    width: 100%;
}
.login-content span.alert.alert-danger {
    color: #b90404;
    font-size: 12px;
    padding: 9px 11px;
}
/* End of Login */
/* Homepage */
header {
    padding: 25px 0 45px 0;
    float: left;
    width: 100%;
}
.header-logo img {
    width: auto;
    height: auto;
}
.main-navigation {
    float: left;
    width: 100%;
}
.main-navigation nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
.main-navigation #topMenu, .main-navigation #mainMenu {
    float: right;
    width: 100%;
}
.main-navigation #topMenu ul li {
    float: left;
}
.main-navigation #topMenu ul li:first-child {
    padding-right: 15px;
}
.main-navigation #topMenu ul li:last-child {
    padding-left: 10px;
}
.main-navigation #topMenu ul.dropdown-menu li:last-child {
    padding-left: 0;
}
.main-navigation #topMenu .desktop-login-in ul.dropdown-menu li:last-child {
    padding-left: 20px;
}
.main-navigation #mainMenu ul li {
    float: left;
    padding-right: 26px;
}
.main-navigation #mainMenu ul li:last-child {
    padding-right: 0;
}
.main-navigation #mainMenu ul li a {
    font-family: 'Lato Regular';
    font-size: 15;
    color: #363636;
    font-weight: 500;
    position: relative;
    top: 5px;
}
.main-navigation #mainMenu ul li a:hover {
    text-decoration: underline;
}
.main-navigation #mainMenu ul li.active a {
    color: #00a0df;
    text-decoration: initial;
}
#mainMenu .input-group {
    max-width: 198px;
    height: 30px;
    border: 1px solid #dcdcdd;
    background-color: #f0f0f0;
    border-radius: 15px;
    top: 0;
}
.search-input {
    width: 100%;
    height: 29px;
    padding-left: 15px;
    border: none;
    box-shadow: none;
    background-color: #f0f0f0;
    border-radius: 15px 0 0 15px;
}
#mainMenu .search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-family: 'Lato Regular';
    font-size: 12px;
    color: #6d6e71;
}
#mainMenu .search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: 'Lato Regular';
    font-size: 12px;
    color: #6d6e71;
    opacity:  1;
}
#mainMenu .search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: 'Lato Regular';
    font-size: 12px;
    color: #6d6e71;
    opacity:  1;
}
#mainMenu .search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Lato Regular';
    font-size: 12px;
    color: #6d6e71;
}
#mainMenu .fa-search {
    color: #00a0df;
}
.main-navigation #mainMenu ul li .input-group-addon {
    height: 29px;
    width: 37px;
    border-radius: 0 15px 15px 0;
    background-size: 13px 13px;
}
.main-navigation #topMenu {
    display: inline-block;
    padding: 0 0 12px 0;
}
#topMenu > ul {
    padding: 0;
    margin: 0;
}
.input-group-addon:last-child {
    border: 0;
}
.header-select{
    border: 2px solid #d0d0d1;
    width: 50px;
    height: 27px;
    background-color: #ffffff;
    border-radius: 3px;
    position: relative;
    padding: 6px;
    margin-top: 5px;
}
.main-navigation #topMenu ul.dropdown-menu li:first-child {
    padding-right: 0;
}
.header-select span {
    color: #009cd6;
    font-size: 12px;
    font-family: 'Lato Regular';
    text-transform: uppercase;
    cursor: pointer;
}
.header-select span:after {
    content: '\f107';
    display: block;
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 16px;
    right: 6px;
    top: 0;
}
.header-select.open .dropdown-menu {
    top: 35px;
    min-width: auto;
    padding: 5px 10px;
    margin: 0;
}
.header-select.open .dropdown-menu:before {
    content: url(../images/menu-arrow.png);
    position: absolute;
    top: -10px;
    right: 1px;
}
.header-select ul li:last-child {
    padding-left: 0;
}
.header-select .dropdown-menu>li>a {
    width: 100%;
    float: left;
    padding: 6px;
}
.desktop-login-in > a:after {
    content: url(../images/arrow-dropdown.png);
    position: absolute;
    top: 6px;
    right: -15px;
}
.desktop-login-in {
    height: 32px;
    float: left;
    width: 100%;
    padding-top: 7px;
    position: relative;
    padding-right: 15px;
}
.desktop-login-in .dropdown-menu>li>a {
    color: #00a0df;
    padding: 0 0 0 20px;
}
.desktop-login-in a {
    color: #363636;
    position: relative;
}
.desktop-login-in.open .dropdown-menu:before {
    content: url(../images/menu-arrow.png);
    position: absolute;
    top: -10px;
    right: 17px;
}
.desktop-login-in.open >.dropdown-menu {
    border-radius: 6px;
    left: -40px;
    margin-top: 15px;
}
.desktop-login-in .fa-user {
    color: #00a0df;
    border: 1px solid #dcdcdd;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 20px;
}
.desktop-login-in a:before {
    font-family: 'FontAwesome';
    position: absolute;
    font-size: 16px;
    top: 0;
    left: 0;
    color: #00a0df;
}
.desktop-login-in a.logout:before {
    content: '\f08b';
}
.desktop-login-in a.edit-profile:before {
    content: '\f013';
}
.desktop-login-in a.settings:before {
    content: '\f013';
}
.desktop-login-in a.update-password:before {
    content: '\f023';
}
.main-navigation #topMenu .desktop-login-in ul li {
    border-bottom: 1px solid #dcdcdd;
    float: left;
    width: 100%;
    padding: 10px 20px;
}
.main-navigation #topMenu .desktop-login-in ul li:first-child {
    padding-right: 20px;
}
.main-navigation #topMenu .desktop-login-in ul li:last-child {
    border-bottom: none;
}
.desktop-login-in .dropdown-menu>li>a:focus, .desktop-login-in .dropdown-menu>li>a:hover {
    background-color: transparent;
}
#updatePasswordModal .modal-content {
    border-radius: 0;
}
#updatePasswordModal .modal-content {
    background-color: #f0f0f0; 
    border: 1px solid transparent;
}
#updatePasswordModal .update-modal-image {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}
#updatePasswordModal .update-modal-content .update-modal-title {
    text-align: center;
    float: left;
    width: 100%;
}
#updatePasswordModal .update-modal-content span {
    color: #00a0df;
    font-family: 'Lato Light';
    font-size: 26px;
    padding: 15px 0;
}
#updatePasswordModal .update-modal-content span.alert.alert-danger {
    color: #b90404;
    font-size: 12px;
    line-height: 16px;
    padding: 9px 11px;
}
#updatePasswordModal fieldset {
    float: left;
    width: 100%;
}
#updatePasswordModal .read-btn {
    width: 100%;
    margin-top: 20px;
}
#updatePasswordModal .form-group:last-child {
    margin-bottom: 0;
}
#updatePasswordModal .modal-dialog {
    width: 420px;
} 
footer {
    float: left;
    width: 100%;
    padding: 25px 0;
}
footer .footer-copyright {
    float: left;
    width: 100%;
    padding-top: 30px;
}
footer .footer-copyright span {
    font-family: 'Lato Regular';
    color: #363636;
    font-size: 14px;
    line-height: 20px;
}
/* End of Homepage */
/* Contact Us */
.contact-us-form {
    border: 1px solid #e2e2e2;
    margin: 15px 0 45px 0;
    padding: 30px;
}
.contact-us-form .read-btn {
    width: 175px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}
.contact-us-container {
    float: left;
    width: 100%;
    margin-top: 10px;
}
#contactModal .modal-content {
    width: 640px;
    border-radius: 0%;
    top: 200px;
}
#contactModal .modal-header {
    border-bottom: none;
}
#contactModal .modal-header .close:hover {
    color: #4e2683;
}
#contactModal .modal-title {
    color: #4e2683;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}
#contactModal .modal-body p {
    text-align: center;
}
#contactModal .modal-footer {
    border-top: none;
}
#contactModal .modal-footer .read-btn {
    margin-bottom: 15px;
    display: block;
    margin: 0 auto;
    width: 100px;
}
.form-group label {
    font-family: 'Lato Bold';
    color: #363636;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    margin-bottom: 5px;
}
.form-control {
    height: 41px;
    font-family: 'Lato Regular';
    color: #363636;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
span.alert.alert-danger {
    border-radius: 4px;
    background-color: #fadfdf;
    color: #b90404;
    border-color: #e89191;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    padding: 9px 11px;
    margin: 10px 0 0;
}
.contact-us-select {
    border: 1px solid #ccc;
    width: 100%;
    height: 41px;
    background-color: #ffffff;
    border-radius: 3px;
    position: relative;
    padding: 11px 12px;
}
.contact-us-select span {
    color: #363636;
    font-size: 12px;
    font-family: 'Lato Regular';
    text-transform: uppercase;
    cursor: pointer;
}
.contact-us-select span:after {
    content: '\f107';
    display: block;
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 16px;
    right: 12px;
    top: 11px;
}
.contact-us-select.open .dropdown-menu {
    top: 45px;
    min-width: auto;
    padding: 10px;
    margin: 0;
    width: 100%;
}
.contact-us-select.open .dropdown-menu:before {
    content: url(../images/menu-arrow.png);
    position: absolute;
    top: -10px;
    right: 1px;
}
.contact-us-select .header-select ul li:last-child {
    padding-left: 0;
}
.contact-us-select .dropdown-menu>li>a {
    width: 100%;
    float: left;
    padding: 6px;
}
.contact-us-select a {
    float: left;
    width: 100%;
}
/* End of Contact Us */
/* Step container */
.tab-content {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.tab-content span {
    font-family: 'Lato Light';
    font-size: 17px;
    color: #55227b;
}
.tab-content .read-btn {
    width: 140px;
    margin-bottom: 25px;
    float: right;
    outline: none;
}
.tab-content h4, .tab-content span, .tab-content p {
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.tab-content .form {
    border: 3px solid #f1f1f1;
    padding: 20px 25px 45px 25px;
    margin-bottom: 25px;
}
.step-container {
    float: left;
    width: 100%;
}
a.registration-step-link {
    color: #55227b;
    font-family: 'Lato Light';
    font-size: 17px;
    text-decoration: underline;
}
.tab-content p {
    font-size: 12px;
    color: #2c2c2c;
}
.wizard .nav-tabs {
    border-bottom: none;
}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
span.round-tab {
    width: 55px;
    height: 55px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#dcdcdd;
    font-size: 28px;
    line-height: 54px;
}
.wizard .nav-tabs > li {
    width: 260px;
}
.wizard .nav-tabs > li:last-child {
    width: 150px;
}
.registration-container .wizard .nav-tabs > li:last-child {
    width: 200px;
}
.wizard li.active .round-tab{
    position: relative;
}
span.circle-step-name {
    font-size: 17px;
    font-family: 'Lato Regular';
    text-align: center;
    color: #fff;
    position: absolute;
    display: block;
    top: -26px;
    left: 6px;
    z-index: 9;
}
.round-tab:before {
    content: '';
    position: absolute;
    display: block;
    background-color: #a3238e;
    height: 22px;
    width: 22px;
    top: -2px;
    left: 0;
    z-index: -9;
    border-radius: 50%;
}
.wizard li.active .round-tab:after {
    content: "\f00c";
    font-family: 'FontAwesome';
    position: absolute;
    display: block;
    font-size: 46px;
    right: -25px;
    bottom: -25px;
    opacity: 1;
    color: #512178;
}
.wizard .nav-tabs > li a {
    width: 55px;
    height: 55px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    float: left;
}
.wizard .nav-tabs > li a:hover {
        background: transparent;
}
.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}
.step-name {
    font-family: 'Lato Light';
    font-size: 12px;
    color: #363636;
    text-transform: uppercase;
    width: 180px;
    position: absolute;
    top: 15px;
    left: 65px;
}
.step-container .form-control {
    border: 3px solid #f1f1f1;
    outline: none;
}
.form-group {
    float: left;
    width: 100%;
}
.step-container .form-group label {
    float: left;
}
.step-container .form-group a.registration-step-link {
    float: left;
    width: 100%;
    text-align: left;
    margin: 15px 0 35px 0;
}
.step-container .form-group span.alert.alert-danger.alert-steps {
    background-color: transparent;
    color: #a3238e;
    border: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
/* End of Step container */
