/* Small Devices, .visible-sm-* 
----------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-logo img {
        width: 100%;
        height: auto;
    }
    .main-navigation #mainMenu ul li a {
        font-size: 13px;
    }
    .main-navigation #mainMenu ul li .input-group-addon {
        width: 23px;
        padding: 0;
    }
    .main-navigation #mainMenu .search-input {
        font-size: 12px;
    }
    .search-input {
        padding-left: 8px;
    }
    input[type="checkbox"] ~ label:before,
    input[type="checkbox"] ~ label:after {
        width: 15px;
        height: 15px;
        font-size: 12px;
        line-height: 17px;
        top: 1px;
    }
}