/* Extra Small Devices, .visible-xs-*
----------------------------------------------*/
@media (max-width: 767px) {
    .login {
        float: left;
        width: 100%;
    }
    h3 {
        font-size: 22px;
    }
    h2 {
        font-size: 24px;
    }
    header {
        padding: 25px 0 25px 0;
    }
    header.active {
        padding-bottom: 0; 
    }
    .header-logo img {
        width: 130px;
    }
    .menu-mobile-container {
        float: right;
        margin-top: 20px;
    }
    .user-mobile, .search-mobile, .menu-mobile {
        width: 34px;
        height: 34px;
        border: 1px solid #e0e0e1;
        border-radius: 50%;
        color: #00a0df;
        background-color: #f0f0f0;
        margin: 0px 13px 0 0;
        position: relative;
        padding: 0;
        text-align: center;
        float: left;
    }
    .menu-mobile {
        margin-right: 0;
    }
    .user-mobile .fa-user, .search-mobile .fa-search, .menu-mobile .fa-bars, 
    .user-mobile.active .fa-times, .search-mobile .fa-times, .menu-mobile .fa-times {
        line-height: 30px;
        font-size: 16px;
    }
    #mainMenu, .mobile-search-container {
        height: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 100%;
        transition: 0.3s;
        border: 0;
        background-color: transparent;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
    }
    #mainMenu.active {
        border-bottom: 1px solid #c9c1d3;
        background-color: #f0f0f0;
        min-height: 165px;
        overflow: auto;
        margin-top: 25px;
    }
    #mainMenu ul {
        padding: 20px;
    }
    #mainMenu ul li {
        width: 100%;
        padding: 0;
    }
    .main-navigation #mainMenu ul li a {
        font-weight: 600;
        display: inline-block;
        padding: 5px 0;
        text-transform: uppercase;
    }
    .mobile-search-container {
        padding: 0 15px;
    }
    .mobile-search-container.active {
        border-bottom: 1px solid #c9c1d3;
        background-color: #f0f0f0;
        min-height: 60px;
        overflow: auto;
        padding: 0 15px;
    }
    header .col-xs-12 {
        padding: 0;
    }
    .mobile-search-container fieldset {
        width: 100%;
    }
    .mobile-search-container .input-group {
        margin: 15px 0;
        height: 31px;
        width: 100%;
        border: 1px solid #dcdcdd;
        border-radius: 15px;
        background-color: #ffffff;
    }
    .mobile-search-container .input-group .search-input {
        height: 31px;
        border: none;
        box-shadow: none;
        background-color: #ffffff;
        border-radius: 15px 0 0 15px;
    }
    .mobile-search-container .input-group-addon {
        height: 29px;
        box-shadow: none;
        border-radius: 0 15px 15px 0;
        width: 34px;
        background-size: 13px 13px;
        background-color: #fff;
    }
    .mobile-login-in p {
        padding: 0 15px;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 37px;
        border-bottom: 1px solid #cec8df;
        color: #363636;
        margin-bottom: 0;
        font-family: 'Lato Light';
    }
    .mobile-login-in {
        display: none;
    }
    .mobile-login-in.active {
        display: block;
        background-color: #f0f0f0;
        border-bottom: 1px solid #c9c1d3;
        float: left;
        width: 100%;
    }
    .mobile-login-container {
        padding: 15px;
        float: left;
        width: 100%;
    }
    .mobile-login-container .styled-select {
        display: inline-block;
        width: 100%;
        height: 39px;
        clear: both;
        border-radius: 4px;
        border: 1px solid #d1d1d2;
        background-color: #ffffff;
        padding: 0 10px;
        background-position: 95% center;
        font-size: 13px;
        line-height: 1;
    }
    .mobile-login-container .btn {
        margin-bottom: 10px;
        width: 48%;
    }
    .mobile-login-container .btn.dark-btn {
        float: right
    }
    .mobile-login-in .mobile-login-container {
        padding: 0;
    }
    .mobile-login-in .mobile-login-container a {
        width: 100%;
        float: left;
        color: #363636;
        font-family: 'Lato Light';
        line-height: 37px;
        border-bottom: 1px solid #cec8df;
        padding: 0 15px 0 35px;
        position: relative;
    }
    .mobile-login-in .mobile-login-container a:last-child {
        border-bottom: none;
    }
    .mobile-login-in .mobile-login-container a:before {
        font-family: 'FontAwesome';
        position: absolute;
        font-size: 16px;
        top: 0;
        left: 0;
        color: #009cd6;
        margin-left: 15px;
    }
    .mobile-login-in .mobile-login-container a.logout:before {
        content: '\f08b';
    }
    .mobile-login-in .mobile-login-container a.update-password:before {
        content: '\f023';
    }
    #updatePasswordModal .modal-dialog {
        width: auto;
    }
    footer {
        text-align: center;
    }
    footer .footer-copyright {
        padding-top: 0;
        padding-bottom: 15px;
    }
    .step-thank-you span {
        max-width: 75%;
        text-align: center;
        left: 50%;
    }

/* Common styles of menus */
.dl-menuwrapper {
	width: 100%;
	max-width: 300px;
	float: left;
	position: relative;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 200%;
	perspective-origin: 50% 200%;
}

.dl-menuwrapper:first-child {
	margin-right: 100px;
}

.dl-menuwrapper button {
	background: #ccc;
	border: none;
	width: 48px;
	height: 45px;
	text-indent: -900em;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	outline: none;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
	background: #aaa;
}

.dl-menuwrapper button:after {
	content: '';
	position: absolute;
	width: 68%;
	height: 5px;
	background: #fff;
	top: 10px;
	left: 16%;
	box-shadow: 
		0 10px 0 #fff, 
		0 20px 0 #fff;
}

.dl-menuwrapper ul {
	padding: 0;
	list-style: none;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.dl-menuwrapper li {
	position: relative;
}

.dl-menuwrapper li a {
	display: block;
	position: relative;
	padding: 15px 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	color: #fff;
	outline: none;
}

.no-touch .dl-menuwrapper li a:hover {
	background: rgba(255,248,213,0.1);
}

.dl-menuwrapper li.dl-back > a {
	padding-left: 30px;
	background: rgba(0,0,0,0.1);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
	position: absolute;
	top: 0;
	line-height: 50px;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	content: "\e000";
}

.dl-menuwrapper li.dl-back:after {
	left: 10px;
	color: rgba(212,204,198,0.3);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
	right: 10px;
	color: rgba(0,0,0,0.15);
}

.dl-menuwrapper .dl-menu {
	margin: 5px 0 0 0;
	position: absolute;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
	transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
.dl-menuwrapper li .dl-submenu {
	display: none;
}
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
	display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
	display: block;
}
.dl-menuwrapper > .dl-submenu {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	margin: 0;
}
.dl-menu.dl-animate-out-2 {
	-webkit-animation: MenuAnimOut2 0.3s ease-in-out;
	animation: MenuAnimOut2 0.3s ease-in-out;
}
@-webkit-keyframes MenuAnimOut2 {
	0% { }
	100% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
}
@keyframes MenuAnimOut2 {
	0% { }
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}
}
.dl-menu.dl-animate-in-2 {
	-webkit-animation: MenuAnimIn2 0.3s ease-in-out;
	animation: MenuAnimIn2 0.3s ease-in-out;
}
@-webkit-keyframes MenuAnimIn2 {
	0% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes MenuAnimIn2 {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}
.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
	-webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
	animation: SubMenuAnimIn2 0.3s ease-in-out;
}
@-webkit-keyframes SubMenuAnimIn2 {
	0% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes SubMenuAnimIn2 {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}
.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
	-webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
	animation: SubMenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimOut2 {
	0% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
}
@keyframes SubMenuAnimOut2 {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0;
	}
}
.no-js .dl-menuwrapper .dl-menu {
	position: relative;
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
	display: block;
}

.no-js .dl-menuwrapper li.dl-back {
	display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
	background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
	content: '';
}
.demo-2 .dl-menuwrapper button {
	background: #e86814;
}

.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
	background: #D35400;
}

}