/* Medium Devices, .visible-md-*
----------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) { 
    #mainMenu .input-group {
        max-width: 150px; 
        position: relative;
        top: -5px;
    }
    .search-input {
        padding-left: 10px;
    }
    .main-navigation #mainMenu ul li {
        padding-right: 12px;
    }
    .header-logo img {
        width: 100%;
        height: auto;
    }
}